In [2]:
# Install dependencies
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [3]:
# Storing access in environment variable
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [4]:
# Initializing spark
import findspark
findspark.init()

In [5]:
# Initialize a Spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder\
     .master('local[*]')\
    .appName("Iniciando com Spark")\
    .config('spark.ui.port', '4050')\
    .getOrCreate()

In [6]:
# Download the ngrok files to use in the spark session
!wget -q https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

In [7]:
# Expose ngrok access server
get_ipython().system_raw('./ngrok http 4050 &')

In [10]:
# Create a database
spark.sql('CREATE DATABASE IF NOT EXISTS  desp')

DataFrame[]

In [ ]:
# Command to position yourself within the desp database
spark.sql('USE desp')

In [12]:
# Insert the file into a dataframe and display it
churn_df = spark.read.csv('/content/Churn.csv', sep=';', header=True, inferSchema=True)
churn_df.show()

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
|        645|    Spain|  Male| 44|     8|11375578|            2|        1|             0|       14975671|     1|
|        822|   France|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|
|        376|  Germany|Female| 29|     4|11504674|            4|        1|             0|       11934688|     1|
|        501|   France|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|
|        684|   France|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|
|        528|   France|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|
|        497|    Spain|  Male| 24|     3|       0|            2|        1|             0|        7639001|     0|
|        476|   France|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|
|        549|   France|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|
|        635|    Spain|Female| 35|     7|       0|            2|        1|             1|        6595165|     0|
|        616|  Germany|  Male| 45|     3|14312941|            2|        0|             1|        6432726|     0|
|        653|  Germany|  Male| 58|     1|13260288|            1|        1|             0|         509767|     1|
|        549|    Spain|Female| 24|     9|       0|            2|        1|             1|        1440641|     0|
|        587|    Spain|  Male| 45|     6|       0|            1|        0|             0|       15868481|     0|
|        726|   France|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [13]:
# Partition the churn_df by the geography column and then save it in the database as a table

# After completing the command, you can see that within the spark-warehouse/churn directory, there is a folder based on each of the cardinal values
# generated a folder, in which each of the folders contains the values ​​divided by the geography column (France, Germany, Spain)
churn_df.write.partitionBy('Geography').saveAsTable('churn')

In [20]:
# During the table consultation, it can be seen that the data remained unchanged, with the following changes:
# They are in ascending order and the column was positioned last
spark.sql('select * from churn').show(100)

+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|CreditScore|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|Geography|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|        619|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|   France|
|        502|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|   France|
|        699|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|   France|
|        822|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|   France|
|        501|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|   France|
|        684|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|   France|
|        528|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|   France|
|        476|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|   France|
|        549|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|   France|
|        726|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|   France|
|        732|  Male| 41|     8|       0|            2|        1|             1|       17088617|     0|   France|
|        669|  Male| 46|     3|       0|            2|        0|             1|         848775|     0|   France|
|        846|Female| 38|     5|       0|            1|        1|             1|       18761616|     0|   France|
|        577|  Male| 25|     3|       0|            2|        0|             1|       12450829|     0|   France|
|        571|  Male| 44|     9|       0|            2|        0|             0|        3843335|     0|   France|
|        411|  Male| 29|     0| 5969717|            2|        1|             1|        5348321|     0|   France|
|        533|  Male| 36|     7|  853117|            1|        0|             1|       15673191|     0|   France|
|        475|Female| 45|     0|13426404|            1|        1|             0|        2782299|     1|   France|
|        850|  Male| 36|     7|       0|            1|        1|             1|         408129|     0|   France|
|        465|Female| 51|     8|12252232|            1|        0|             0|       18129765|     1|   France|
|        556|Female| 61|     2|11741935|            1|        1|             1|        9415383|     0|   France|
|        834|Female| 49|     2|13139456|            1|        0|             0|       19436576|     1|   France|
|        788|Female| 33|     5|       0|            2|        0|             0|       11697819|     0|   France|
|        619|  Male| 43|     1|12521192|            1|        1|             1|       11341049|     0|   France|
|        656|  Male| 45|     5| 1278644|            1|        1|             0|        8710757|     0|   France|
|        614|  Male| 51|     4| 4068592|            1|        1|             1|        4677528|     0|   France|
|        675|Female| 21|     8| 9837326|            1|        1|             0|          18203|     0|   France|
|        813|  Male| 29|     6|       0|            1|        1|             0|        3395387|     0|   France|
|        519|  Male| 36|     9|       0|            2|        0|             1|        1455624|     0|   France|
|        735|Female| 21|     1|17871819|            2|        1|             0|          22388|     0|   France|
|        664|  Male| 55|     8|       0|            2|        1|             1|       13916164|     0|   France|
|        678|Female| 32|     9|       0|            1|        1|             1|       14821064|     0|   France|
|        665|Female| 34|     1| 9664554|            2|        0|             0|       17141366|     0|   France|
|        777|Female| 32|     2|       0|            1|        1|             0|       13645819|     1|   France|
|        543|Female| 36|     3|       0|            2|        0|             0|        2601959|     0|   France|
|        506|Female| 34|     4| 9030762|            1|        1|             1|       15923529|     0|   France|
|        493|Female| 46|     4|       0|            2|        1|             0|         190766|     0|   France|
|        729|  Male| 30|     9|       0|            2|        1|             0|       15186935|     0|   France|
|        646|Female| 46|     4|       0|            3|        1|             0|        9325142|     1|   France|
|        808|  Male| 45|     7|11862655|            2|        1|             0|       14713246|     0|   France|
|        524|Female| 36|    10|       0|            2|        1|             0|       10961457|     0|   France|
|        769|  Male| 29|     8|       0|            2|        1|             1|       17229061|     0|   France|
|        413|  Male| 34|     9|       0|            2|        0|             0|         653418|     0|   France|
|        665|Female| 40|     6|       0|            1|        1|             1|       16184803|     0|   France|
|        623|Female| 44|     6|       0|            2|        0|             0|       16716243|     0|   France|
|        738|  Male| 31|     9| 8267415|            1|        1|             0|        4197072|     0|   France|
|        562|  Male| 42|     2|10023835|            1|        0|             0|        8679741|     0|   France|
|        506|Female| 41|     1|       0|            2|        1|             0|         317663|     0|   France|
|        828|  Male| 34|     8|12943334|            2|        0|             0|        3813177|     0|   France|
|        656|Female| 39|     6|       0|            2|        1|             0|       14106988|     0|   France|
|        625|Female| 28|     3|       0|            1|        0|             0|       18364641|     0|   France|
|        432|  Male| 42|     9|15260345|            1|        1|             0|       11026524|     1|   France|
|        549|Female| 52|     1|       0|            1|        0|             1|         863605|     1|   France|
|        828|Female| 41|     7|       0|            2|        1|             0|       17137877|     0|   France|
|        770|  Male| 24|     9|10182707|            1|        1|             0|       16725635|     0|   France|
|        758|Female| 34|     3|       0|            2|        1|             1|       12422616|     0|   France|
|        687|  Male| 38|     9|12257087|            1|        1|             1|        3560888|     0|   France|
|        686|  Male| 25|     1|       0|            2|        0|             1|        1645937|     0|   France|
|        637|  Male| 40|     2| 1334631|            1|        0|             1|        9316534|     0|   France|
|        663|  Male| 34|     7|       0|            2|        1|             1|       18042724|     0|   France|
|        682|Female| 43|     5|12585193|            1|        1|             1|       19331833|     0|   France|
|        691|Female| 31|     5| 4091555|            1|        1|             0|       12621384|     1|   France|
|        650|  Male| 37|     5|10696718|            1|        0|             0|        2449503|     0|   France|
|        735|  Male| 44|     9|12068163|            1|        1|             0|        7483634|     0|   France|
|        416|  Male| 32|     0|       0|            2|        0|             1|          87887|     0|   France|
|        535|Female| 48|     9|       0|            1|        1|             0|       14989279|     1|   France|
|        539|  Male| 37|     2|12760959|            1|        1|             0|        9864622|     0|   France|
|        614|Female| 43|     6|       0|            2|        1|             1|       10904153|     0|   France|
|        758|Female| 33|     7|       0|            2|        0|             0|        8299647|     0|   France|
|        646|Female| 73|     6| 9725925|            1|        0|             1|       10471966|     0|   France|
|        684|  Male| 30|     2|       0|            2|        1|             0|        8347382|     0|   France|
|        800|Female| 49|     7|10800736|            1|        0|             0|        4712511|     0|   France|
|        484|Female| 29|     4|13011439|            1|        1|             0|       16401789|     0|   France|
|        578|  Male| 30|     4|16946209|            1|        1|             0|       11218711|     0|   France|
|        512|  Male| 40|     5|       0|            2|        1|             1|       14645783|     0|   France|
|        510|Female| 30|     0|       0|            2|        1|             1|       13055347|     0|   France|
|        510|  Male| 65|     2|       0|            2|        1|             1|        4807161|     0|   France|
|        636|  Male| 42|     2|       0|            2|        1|             1|        5547078|     0|   France|
|        804|Female| 50|     4|       0|            1|        1|             1|         854687|     1|   France|
|        514|  Male| 32|     8|       0|            2|        1|             0|        9585718|     0|   France|
|        730|Female| 39|     1| 9901067|            1|        1|             0|        1949458|     0|   France|
|        715|Female| 41|     8| 5621485|            2|        0|             0|        9298261|     1|   France|
|        512|Female| 36|     3| 8432777|            2|        1|             0|        1767536|     0|   France|
|        479|  Male| 40|     1|       0|            2|        0|             0|       11499643|     0|   France|
|        601|  Male| 32|     8| 9301289|            1|        1|             0|        8695742|     0|   France|
|        807|  Male| 35|     3|17479015|            1|        1|             1|          60036|     0|   France|
|        501|  Male| 57|    10|       0|            2|        1|             1|        4784719|     0|   France|
|        521|  Male| 35|     6| 9642384|            1|        1|             0|        1048844|     0|   France|
|        759|  Male| 42|     4|10542018|            1|        0|             1|       12140906|     0|   France|
|        711|Female| 38|     2|12902206|            2|        1|             1|        1437486|     1|   France|
|        550|  Male| 37|     3|       0|            1|        1|             1|       17967031|     0|   France|
|        618|  Male| 34|     5|13495453|            1|        1|             1|       15195439|     0|   France|
|        643|  Male| 45|     5|       0|            1|        1|             0|        1425135|     1|   France|
|        671|  Male| 45|     2|10637685|            1|        0|             1|       15826462|     0|   France|
|        603|  Male| 31|     8|       0|            2|        1|             1|       16991502|     0|   France|
|        620|Female| 41|     9|       0|            2|        0|             0|        8885247|     0|   France|
|        676|Female| 34|     1| 6309501|            1|        1|             1|        4064581|     0|   France|
|        695|  Male| 46|     7| 4951255|            1|        1|             0|       13300734|     0|   France|
|        807|  Male| 43|     1|10579932|            2|        1|             0|        3488804|     1|   France|
|        592|  Male| 54|     8|       0|            1|        1|             1|        2873771|     1|   France|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
only showing top 100 rows

## Considerações de análise

 Na aba de arquivos, dentro do collab, você irá verificar que foi criada uma pasta spark-warehouse. Dentro dela haverá um diretório chamado churn, onde nesse diretório estarão alocados os arquivos particionados.

### Observação

 No spark, os arquivos, por padrão são salvos no modelo parquet